<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqLabs.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LinqLabs.Properties.Settings.AdventureWorks2019ConnectionString"
            connectionString="Data Source=.;Initial Catalog=AdventureWorks2019;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>